
.navbar{
    height: 10%;
    height: 100%;
    background: brown;
    color: white;

}
.navbar-left{
    width: 50%;
    display: flex;
    justify-content: left;
}
.navbar-right{
    width: 100%;
    display: flex;
    justify-content: right;
}